---
layout: default
---

<div class="home">

  {{ content }}

  <div> 
    {% for post in site.posts %}
      <a class="post-list" href="{{ post.url | relative_url }}">
        <div class="post-list">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <span class="post-meta">{{ post.date | date: date_format }}</span>

              <h2>
                {{ post.title | escape }}
              </h2>

	      <p>
	        {{ post.content | truncatewords: 30 | strip_html }}
              </p>
	  </div>
       </a>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
